
.footer {
  position: fixed;
  bottom: -1px;
  width: 100%;
  height: 60px;
  // border: 1px solid #000;
  background: #ffffff;
  border-top: 1px solid #06769f;
}

.iosMenu {
  width: 100%;
}

.iconWrapper,
.iconWrapperActive {
  width: 33%;
  height: 100%;
  // border: 1px solid #000;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}

.iconWrapperActive {
  background: #d2dbe0;
}

.iconWrapperActive .icon,
.iconWrapperActive .starIcon,
.iconWrapperActive .text {
  color: #333333;
  font-weight: normal;
}

.icon,
.starIcon {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 4px;
  height: 27px;
  color: #6f7578;
}

.starIcon,
.iconWrapperActive .starIcon {
  font-weight: bold !important;
  font-size: 25px;
  line-height: 27px;
}

.text {
  font-size: 10px;
  display: block;
  color: #6f7578;
  margin-top: -2px;
}
