.item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  padding: 0 17px;
}

.item + .item {
  // border-top: 1px solid #EEE;
  margin-top: 8px;
}

.itemContent {
  display: flex;
  // justify-content: space-between;
  // justify-content: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: center;
}
