
.contentWrapper {
  // margin-bottom: 80px;
  // background: #E5E5E5;
}

.searchForm {
  padding: 2px 10px;
  background: #345468;
  color: white;
  // border-bottom: 1px solid #979797;
}

.searchForm h1 {
  font-size: 17px;
  text-align: center;
  font-weight: normal;
  letter-spacing: -0.4px;
}

.centered {
  text-align: center;
}

.searchWrapper,
.sortingWrapper {
  padding: 0px 15px;
  background: white;
  overflow: hidden;
}

.searchWrapper {
  background: #345468 !important;
  color: white;
  padding-bottom: 13px !important;
  padding-top: 10px;
  margin-top: -5px;
}

.sortingWrapper {
  // padding-bottom: 85px;
  padding-top: 12px !important;
  // border-top: 1px solid #c4c9cc;
  // margin: 0 10px;
}

.searchWrapper {
  padding-bottom: 1px;
  background: white;
}

.sortingWrapper p {
  // font-size: 12px;
}

.searchWrapper p {
  margin: 5px 5px;
  font-size: 16px;
}

.sectionHeader {
  font-weight: normal;
  color: #171718;
  text-align: center;
  margin: 8px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.buttonGroup,
.buttonWrapper {
  display: block;
  margin: auto;
}
.buttonGroup {
  // max-width: 320px;
}
.buttonWrapper {
  // width: 330px;
}
.buttonGroup button {
  width: auto;
  margin: 0;
  font-size: 12px;
  height: 30px;
  vertical-align: top;
  border: 1px solid lightgray;
  // padding: 10px;
}
.buttonGroup button:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
.buttonGroup button:nth-child(2) {
  border-right: none;
}
.buttonGroup button:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buttonWrapper button {
  width: auto;
  margin: 5px 5px 0 0;
  font-size: 12px;
  height: 30px;
  vertical-align: top;
  border: 1px solid lightgray;
  border-radius: 5px;
}

p,
label {
  // font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

.link {
  text-decoration: none;
}

.input {
  outline: none;
  border-bottom: 1px dotted #999;
}

.atPrefix {
  color: black;
  margin-left: 0.4em;
}

.tagsWrapper {
  background: white;
  border: 1px solid lightgray;
  padding: 0 5px 0 5px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  position: relative;
}

.inputPlaceholder {
  color: #6f7578;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  position: relative;
  font-size: 14px;
  // width: 100%;
}

.placeholderIcon {
  color: #c4c9cc;
  font-size: 22px;
  margin-right: 8px;
  line-height: 0;
  vertical-align: middle;
}

.tag {
  display: inline-block;
  background: #B5D8E9;
  margin: 8px 8px 0px 2px;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  border-radius: 2px;
}

.tagText {
  color: #333333;
}

.removeIcon {
  font-size: 22px;
  // font-weight: bold;
  line-height: 20px;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: -5px;
}

.amount {
  margin: 15px 10px 5px;
  display: block;
}

.searchButton {
  // background: #06769F;
  // background: #5E8404;
  background: #478500;
  margin: 15px auto;
  display: block;
  color: white;
  border: none;
  // width: 94%;
  width: 80%;
  left: 10%;
  position: fixed;
  bottom: 0px;
  display: block;
  z-index: 999;
  height: 57px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: normal;
}

.searchIcon {
  margin-right: 8px;
  font-size: 30px;
  font-weight: normal;
  vertical-align: middle;
}

.gradientImg {
  position: fixed;
  bottom: 0;
  z-index: 998;
  width: 100%;
  height: 55px;
}

.searchButton[disabled],
.searchButton[disabled]:hover {
  background: gray !important;
  opacity: 1 !important;
}

.searchButton:hover {
  // background: #5E8404 !important;
  // color: white !important;
}

.searchIcon {
  margin-right: 5px;
}

.latestSearches {

}

.listHeader {
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  margin-left: 10px;
  font-size: 12px;
}

.gpsIcon {
  float: right;
  // color: #345468;
  width: 69px;
  margin-top: 7px;
  margin-right: 2px;
  // vertical-align: middle;
  // font-size: 18px;
  // line-height: 20px;
  // font-weight: bold;
  // margin-left: 5px;
}

.noMarginTop {
  margin-top: 0;
}

.cancel {
  position: absolute;
  left: 12px;
  top: 0px;
  padding-top: 2px;
  height: 50px;
  line-height: 48px;
  font-weight: bold;
  font-size: 28px;
}

.areaFilter {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 0 5px 5px 0;
  display: inline-block;
}

.rangeSelector {
  margin-bottom: 20px;
}

.gps {
  position: absolute;
  right: 5px;
  top: 6px;
  border: 1px solid #171718;
  padding: 3px 3px 3px 10px;
  border-radius: 4px;
  color: #171718;
  background: white;
}

.switchWrapper {}
.switchWrapperRow {
  height: 45px;
  line-height: 33px;
  position: relative;
}
.switchWrapperTitle,
.radioTitle {
  font-size: 17px;
}
.radioTitle {
  float: left;
  margin-top: -8px;
}
.rowSwitch {
  float: right;
}

.rowOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  // border: 1px solid #000;
}

.radioButtonGroup {

}
.radioWrapperRow {
  height: 40px;
  line-height: 40px;
}

.radioButton {
  float: right;
  height: 25px;
  width: 25px;
  border-radius: 40px;
  border: 1px solid #06769f;
  margin-top: 0px;
  // margin-bottom: 10px;
  position: relative;
}
.radioOk {
  color: #06769f;
  position: absolute;
  top: 5px;
  left: 4px;
}

.subTitle {
  font-size: 13px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  margin-bottom: 4px;
  text-transform: uppercase;
  margin-left: 16px;
}

.inActive {
  display: none;
}

.extraPadding {
  margin-bottom: 10px;
}

.filterDivider {
  margin: 0;
  margin-top: -6px;
  margin-bottom: 8px;
  padding: 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ebeef0;
  width: 150%;
}

:global(.activeFilterButton) {
  background: #B5D8E9;
}

:global(.glyphicon-remove) {
  cursor: pointer;
  color: #8E8E93;
  margin-left: 5px;
  top: 2px;
}

:global(input.form-control) {
  height: 40px;
}