.imgWrapper {
  // background: #35739D;
  padding-top: 30px;
  height: 550px;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
}

.imgWrapper img {
  position: relative;
  margin: auto;
  // left: 50%;
  // margin-left: -143px;
  display: block;
  bottom: -100px;
  opacity: 0.4;
  width: 290px;
}

.animate {
  //   transition: all 1s ease-in-out;
  //   opacity: 1 !important;
  //   bottom: -10px !important;
  animation: show-keyframes--bounce .8s ease-in-out both;
}

@keyframes show-keyframes--bounce {
  0% {
    bottom: -100px;
    opacity: 0.4;
  }
  80% {
    bottom: -2px;
    opacity: 1;
  }
  100% {
    bottom: -10px;
    opacity: 1;
  }
}

.welcome {
  position: absolute;
  bottom: 68px;
  width: 100%;
  z-index: 9999;
  height: 350px;

  // background: #FFFFFF;
}

.textWrapper {
  border: 1.5px dotted white;

  position: relative;
  width: 320px;
  margin: auto;
  background: rgba(5, 118, 159, 0.43);
  padding: 15px;

  // background-image: linear-gradient(to right, #FFF 10%, rgba(0, 0, 0, 0) 0%);
  // background-position: top;
  // background-size: 8px 1px;
  // background-repeat: repeat-x;

  // background-image: linear-gradient(#FFF 10%, rgba(0, 0, 0, 0) 0%);
  // background-position: right;
  // background-size: 8px 3px;
  // background-repeat: repeat-y;

}

.textWrapper h1 {
  font-size: 36px;
  color: #FFFFFF;
  font-weight: 200;
  margin: 0 0 20px 0;
}

.textWrapper p {
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0;
  line-height: 24px;
}

.startButton {
  // background: #06769F;
  background: #35739D;
  margin: 85px auto 0;
  display: block;
  color: white;
  border: none;
  width: 300px;
  // left: 3%;
  // position: fixed;
  // bottom: 55px;
  display: block;
  z-index: 999;
  height: 57px;
  font-size: 20px;
  font-weight: normal;
  border-radius: 100px;
}

.startButton:hover,
.startButton:active {
  background: #35739D !important;
  color: white !important;
}

.splashImgWrapper {
  position: absolute;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: white;
  opacity: 1;
  transition: opacity 1s;
}

.fadeout {
  opacity: 0;
  pointer-events: none;
}

.splashImg {
  position: absolute;
  z-index: 99999;
  width: 100%;
  top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  display: block;
}