.item,
.tipsItem {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.item + .item {
  // border-top: 1px solid #EEE;
}

.divider {
  position: absolute;
  margin: 0;
  // margin-top: -6px;
  // margin-bottom: 8px;
  padding: 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ebeef0;
  width: 150%;
  bottom: 0;
}

.tipsItem .divider {
  border-top: 1px solid #c4c9cc;
}

.itemContent {
  display: flex;
  // justify-content: space-between;
  // justify-content: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: center;
}
