
.circle {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  position: absolute;
  right: 0px;
  text-align: center;
  line-height: 43px;
  // top: 12px;
  font-weight: bold;
  // background: white;
  border: 1px solid black;
  transition: all 0.2s;
}

.circle sup,
.circle sub {
  font-size: 12px;
}

.circle sup {
  top: -12px;
  left: -2px;
}

.circle sub {
  bottom: 0px;
  right: -2px;
}

.division {
  width: 25px;
  height: 1px;
  background: black;
  transform: rotate(-45deg);
  position: absolute;
  top: 16px;
  right: 4px;
}

.circleTextWrapper {
  // width: 50px;
  // height: 50px;
  // border-radius: 50px;
  position: absolute;
  right: 4px;
  text-align: center;
  line-height: 10px;
  bottom: 38px;
  // font-weight: bold;
  font-size: 11px;
}

.greenCircle {
  background: #c8e5ab;
}
.orangeCircle {
  background: #d9edf7;
}
.yellowCircle {
  background: #ebeef0;
}

.circleWrapper,
.circleWrapperSmall {
  opacity: 1;
  transition: opacity 0.2s;
}

.circleWrapperSmall p {
  font-weight: bold;
}

.circleWrapperSmall .greenCircle,
.circleWrapperSmall .orangeCircle,
.circleWrapperSmall .yellowCircle {
  border: none;
  position: absolute;
  top: 5px;
  right: -5px;
  font-size: 10px;
}

.circleWrapperSmall .greenCircle p,
.circleWrapperSmall .orangeCircle p,
.circleWrapperSmall .yellowCircle p {
  border-radius: 100px;
  padding: 1px 3px;
  // color: white;
}

.circleWrapperSmall .greenCircle p {
  // background: green;
  border: 3px solid green;
}

.circleWrapperSmall .orangeCircle p {
  // background: orange;
  border: 3px solid orange;
}

.circleWrapperSmall .yellowCircle p {
  // background: #f2e220;
  border: 3px solid #f2e220;
}

.hidden {
  opacity: 0 !important;
}