
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  right: 5px;
  text-align: center;
  line-height: 43px;
  top: 12px;
  font-weight: bold;
  font-size: 15px;
  background: white;
}

.circle sup,
.circle sub {
  font-size: 16px;
}

.circle sup {
  top: -13px;
  left: -1px;
}

.circle sub {
  bottom: -1px;
  right: -1px;
}

.division {
  font-size: 35px;
  font-weight: normal
}

.circleTextWrapper {
  // width: 50px;
  // height: 50px;
  // border-radius: 50px;
  position: absolute;
  right: 4px;
  text-align: center;
  line-height: 10px;
  bottom: 36px;
  // font-weight: bold;
  font-size: 11px;
}

.greenCircle {
  border: 3px solid green;
}
.orangeCircle {
  border: 3px solid orange;
}
.yellowCircle {
  border: 3px solid #f2e220;
}

.circleWrapperSmall p {
  font-weight: bold;
}

.circleWrapperSmall .greenCircle,
.circleWrapperSmall .orangeCircle,
.circleWrapperSmall .yellowCircle {
  border: none;
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 10px;
}

.circleWrapperSmall .greenCircle p,
.circleWrapperSmall .orangeCircle p,
.circleWrapperSmall .yellowCircle p {
  border-radius: 100px;
  padding: 1px 3px;
  // color: white;
}

.circleWrapperSmall .greenCircle p {
  // background: green;
  border: 3px solid green;
}

.circleWrapperSmall .orangeCircle p {
  // background: orange;
  border: 3px solid green;
}

.circleWrapperSmall .yellowCircle p {
  // background: #f2e220;
  border: 3px solid #f2e220;
}
