.textSection {
  // margin: 3em auto;
  // padding-top: 20px;
}

.textSection:first-child {
  margin-top: 0;
}

.contentWrapper {
  margin-bottom:50px;
}

.searchForm {
  padding: 2px 10px;
  background: #345468;
  color: white;
}

.searchForm h1 {
  font-size: 20px;
  text-align: center;
}

.centered {
  text-align: center;
}

p,
label {
  // font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

.link {
  text-decoration: none;
}

.usernameForm {
  margin-bottom: 1em;
}

.input {
  outline: none;
  border-bottom: 1px dotted #999;
}

.atPrefix {
  color: black;
  margin-left: 0.4em;
}

.searchInputWrapper {
  background: white;
  // border: 1px solid gray;
  padding: 0 0 0 8px;
  width: 80%;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  display: inline-block;
}

.inputField {
  color: #333333;
  line-height: 30px;
  height: 30px;
  width: calc(100% - 30px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.filter {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  text-align: center;
  background: #848484;
  color: white;
  width: 20%;
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searchIcon {
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  font-size: 15px;
  color: #848484;
}

.inputPlaceholder {
  color: lightgray;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.tag {
  display: inline-block;
  background: #B5D8E9;
  margin: 5px 5px 0 0;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  border-radius: 2px;
}

.tagText {
  color: #333333;
}

.amount {
  margin: 15px 10px 5px;
  display: block;
  // font-size: 13px;
}

.nonMatchingAmount {
  margin: 15px 10px 5px;
  display: block;
}

.toggleButtons {
  width: 90%;
  display: block;
  margin: 15px auto;
}

.toggleButtons button {
  width: 50%;
  display: inline-block;
  color: #848484;
  height: 35px;
  // background: #345468;
  border: 2px solid #848484;
}

.toggleButtons button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.toggleButtons button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.activeButton {
  // background: #32749D !important;
  background: #848484 !important;
  color: white !important;
}

.matchWrapper {
  padding-bottom: 53px;
}

.matchDescription {
  display: block;
  margin: 20px auto 20px;;
  width: 75%;
  text-align: center;
}

.matchDescription p {
  font-size: 17px;
}

.listDescription {
  // font-style: italic;
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  margin-left: 10px;
  font-size: 12px;
}

.showMatchingButton {
  // background: #06769F;
  background: #5E8404;
  /* margin: 15px auto; */
  display: block;
  color: white;
  border: none;
  width: 94%;
  left: 3%;
  position: fixed;
  bottom: 55px;
  display: block;
  z-index: 999;
  height: 40px;
}

.myCompetences {
  background: #B5D8E9;
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 2px;
  // color: white;
}

.showNonMatchningJobs {
  display: block;
  background: #848484;
  color: white;
  width: 95%;
  height: 35px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  padding: 0;
}

.listWrapperMatchingContent {
  padding-bottom: 2px;
}

.right {
  float: right;
  color: #B0B0B0;
}

.cancel {
  // float: right;
  // color: #B0B0B0;
  // border: 1px solid #000;

  position: absolute;
  left: 0px;
  padding-left: 12px;
  top: 0px;
  width: 50px;
  padding-top: 2px;
  height: 47px;
  line-height: 50px;
}


.goBack {
  position: absolute;
  left: 12px;
  top: 17px;
}

.saveSearch {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 14px;
}

:global(.glyphicon-remove) {
  cursor: pointer;
  color: #8E8E93;
  margin-left: 5px;
  top: 2px;
}

:global(.glyphicon-plus) {
  cursor: pointer;
  color: #8E8E93;
  margin-left: 5px;
  top: 2px;
}

:global(input.form-control) {
  height: 40px;
}