.textSection {
  // margin: 3em auto;
  // padding-top: 20px;
}

.textSection:first-child {
  margin-top: 0;
}

.contentWrapper {
  margin-bottom:50px;
}

.searchForm,
.searchFormSticky {
  padding: 2px 10px;
  background: #345468;
  color: white;
  cursor: pointer;
  min-height: 55px;
}

.searchFormSticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.searchForm h1,
.searchFormSticky h1 {
  font-size: 20px;
  text-align: center;
}

.centered {
  text-align: center;
}

p,
label {
  // font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

.link {
  text-decoration: none;
}

.usernameForm {
  margin-bottom: 1em;
}

.input {
  outline: none;
  border-bottom: 1px dotted #999;
}

.atPrefix {
  color: black;
  margin-left: 0.4em;
}

.searchInputWrapper {
  background: white;
  // border: 1px solid gray;
  padding: 0 0 0 8px;
  width: 80%;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  display: inline-block;
}

.inputField {
  color: #333333;
  line-height: 35px;
  height: 30px;
  width: calc(100% - 30px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  // font-size: 15px;
}

.filter {
  display: inline-block;
  vertical-align: top;
  line-height: 35px;
  text-align: center;
  background: #848484;
  color: white;
  width: 20%;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
}

.searchIcon {
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  font-size: 18px;
  color: #848484;
}

.inputPlaceholder {
  color: lightgray;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.tag {
  display: inline-block;
  background: #B5D8E9;
  margin: 5px 5px 0 0;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  border-radius: 2px;
}

.tagText {
  color: #333333;
}

.amount {
  margin: 15px 10px 5px;
  display: block;
  position: relative;
  // font-size: 13px;
}

.nonMatchingAmount {
  margin: 15px 10px 5px;
  display: block;
}

.toggleButtons {
  width: calc(100% - 25px);
  display: block;
  margin: 15px auto;
}

.toggleButtons button {
  width: 50%;
  display: inline-block;
  // color: #848484;
  color: #345468;
  height: 35px;
  // background: #345468;
  // border: 2px solid #848484;
  border: 2px solid #345468;
}

.toggleButtons button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.toggleButtons button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.activeButton {
  // background: #32749D !important;
  // background: #848484 !important;
  background: #345468 !important;
  color: white !important;
}

.matchWrapper {
  padding-bottom: 53px;
}

.matchDescription {
  display: block;
  margin: 20px auto 20px;;
  width: 75%;
  text-align: center;
}

.matchDescription p {
  font-size: 17px;
}

.listDescription {
  // font-style: italic;
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  margin-left: 10px;
  font-size: 12px;
}

.showMatchingButton,
.addToSearchButton {
  // background: #06769F;
  background: #5E8404;
  margin: 15px auto;
  display: block;
  color: white;
  border: none;
  width: 94%;
  left: 3%;
  position: fixed;
  bottom: 50px;
  display: block;
  z-index: 999;
  height: 40px;
}

.addToSearchButton {
  height: auto !important;
  min-height: 40px;
  bottom: -5px;
  white-space: normal;
  line-height: 25px;
}

.addToSearchTag {
  border: 1px solid lightgray;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 5px;
  float: right;
  margin-top: -5px;
  margin-right: -17px;
}

.addToSearchTag span {
  margin-right: 2px;
}

:global(.glyphicon-plus) {
  cursor: pointer;
  color: #8E8E93;
}

.myCompetences {
  background: #B5D8E9;
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 2px;
  // color: white;
}

.showNonMatchningJobs {
  display: block;
  background: #848484;
  color: white;
  width: 95%;
  height: 35px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  padding: 0;
}

.listWrapperMatchingContent {
  padding-bottom: 2px;
}

.right {
  float: right;
  color: #B0B0B0;
}

.rightPart {
  position: absolute;
  right: 0px;
  top: calc(55% - 10px);
  color: #B0B0B0;
  font-size: 18px;
}

.cancel {
  position: absolute;
  left: 0px;
  padding-left: 12px;
  top: -2px;
  width: 50px;
  padding-top: 2px;
  height: 47px;
  line-height: 55px;
  cursor: pointer;
}

.done {
  position: absolute;
  right: 0px;
  padding-right: 12px;
  top: -2px;
  width: 64px;
  padding-top: 2px;
  height: 47px;
  line-height: 55px;
  cursor: pointer;
  text-align: right;
}


.goBack {
  position: absolute;
  left: 12px;
  top: 17px;
  cursor: pointer;
}

.additionalJobs {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #FAFAFA;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 55px;
  // padding-bottom: 80px;
  z-index: 999;
}

.additionalAmountWrapper {
  position: relative;
  width: calc(100% - 10px);
  padding-right: 4px;
}

.stickyHeader {
  position: fixed;
  height: auto;
  top: 0;
  width: 100%;
  background: white;
  padding: 2px 5px;
  z-index: 999;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.stickyHeaderText {
  width: calc(100% - 20px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toTopArrow {
  display: inline-block;
  float: right;
  color: #848484;
}

.saveSearch {
  position: absolute;
  right: 12px;
  top: 0px;
  padding-top: 2px;
  height: 50px;
  line-height: 50px;
}

.isSaved {
  color: gray;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 999;
  // pointer-events: none;
}

.saveSearchPopup {
  position: fixed;
  top: 30%;
  width: 80%;
  left: 10%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 45px;
  // border: 2px solid red;
  background: rgba(255,255,255,0.95);
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.popupText {
  padding: 0 15px;
}

.bell {
  margin-right: 5px;
  color: gray;
}

.leftConfirmButton,
.rightConfirmButton {
  width: 50%;
  border-top: 1px solid lightgray;
  display: inline-block;
  height: 40px;
  line-height: 35px;
  position: absolute;
  bottom: 0;
}

.leftConfirmButton {
  border-bottom-left-radius: 5px;
  left: 0;
}

.rightConfirmButton {
  border-bottom-right-radius: 5px;
  right: 0;
  border-left: 1px solid lightgray;
}

.matchCriteriaPopover {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #FAFAFA;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 55px;
  padding-bottom: 105px;
}

.criteraWrappper {
  width: calc(100% - 20px);
  background: white;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin: 0 auto 20px;
}

.criteriaSelectionHeader {
  width: calc(100% - 20px);
  display: block;
  margin: 10px auto;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.criteriaSelectionContent {
  border-top: 1px solid #EEE;
  width: calc(100% - 20px);
  height: auto;
  display: block;
  margin: auto;
  padding: 5px 0 10px;
}

.criteriaSelectionView {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #FAFAFA;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 55px;
  padding-bottom: 115px;
  z-index: 999;
}

.experienceSelectionWrapper {
  width: 100%;
  padding: 0 10px;
}

.matchCriteriaSearchSummary {
  text-align: center;
  // padding-bottom: 5px;
  // margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  font-weight: bold;
}

.matchCriteriaSearchSummaryText {
  width: calc(100% - 142px);
  // width: auto;
  margin: auto;
}

.matchCriteriaSearchSummaryText span {
  // font-size: 12px;
  // width: calc(100% - 112px);
  // height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.small {
  font-size: 12px;
  font-weight: normal;
}

.pencilIcon {
  position: absolute;
  right: 0;
  top: 0px;
  color: #33749A;
  font-size: 18px;
}

.doughnutWrapper {
  position: relative;
  width: 100%;
  height: 140px;
  margin: 10px 0 10px;
  display: block;
}

.doughnutWrapper i,
.barChartWrapper i {
  margin-left: 10px;
  font-size: 10px;
}

.chartWrapper,
.doughnutLablesWrapper {
  display: inline-block;
  float: left;
}

.chartWrapper {
  width: 40%;
  margin-top: 20px;
}

.chartWrapper canvas {
  margin: auto;
}

.doughnutLablesWrapper {
  width: 60%;
}

.doughnutLablesWrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.doughnutLablesWrapper ul li {
  width: 95%;
  list-style: none;
  margin-bottom: 5px;
  line-height: 16px;
}

.doughnutLablesWrapper ul li sup {
  font-size: 12px;
}

.donutLabel {
  width: 75%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.donutProcent {
  float: right;
}

.doughnutLablesWrapper ul li figure {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0px;
  // vertical-align: super;
}

.barChartWrapper {
  width: 100%;
  margin: 20px 0;
}

:global(.glyphicon-remove) {
  cursor: pointer;
  color: #8E8E93;
  margin-left: 5px;
  top: 2px;
}

:global(input.form-control) {
  height: 40px;
}