
.contentWrapper {
  margin-bottom: 85px;
}

.searchForm {
  padding: 2px 10px;
  // background: #345468;
  color: #333333;
  border-bottom: 1px solid #d2dbe0;
}

.searchForm h1 {
  font-size: 17px;
  text-align: center;
  font-weight: normal;
  letter-spacing: -0.4px;
}

.edit {
  position: absolute;
  right: 0px;
  padding-right: 12px;
  top: -2px;
  width: 104px;
  padding-top: 2px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  text-align: right;
  font-size: 17px;
}

.centered {
  text-align: center;
}

p,
label {
  // font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

.link {
  text-decoration: none;
}

.input {
  outline: none;
  border-bottom: 1px dotted #999;
}

.atPrefix {
  color: black;
  margin-left: 0.4em;
}

.tagsWrapper {
  background: white;
  border: 1px solid gray;
  padding: 0 5px 0 5px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.inputPlaceholder {
  color: lightgray;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.tag {
  display: inline-block;
  background: #B5D8E9;
  margin: 5px 5px 0 0;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  border-radius: 2px;
}

.tagText {
  color: #333333;
}

.totalAmount {
  font-weight: 500;
  color: #55851C;
}

.searchButton,
.searchButton:hover,
.searchButton:active {
  // background: #06769F;
  // background: #5E8404;
  background: #478500;
  margin: 25px auto 14px;
  display: block;
  color: white;
  border: none;
  width: 300px;
  // left: 3%;
  // position: fixed;
  // bottom: 55px;
  display: block;
  z-index: 999;
  height: 57px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: normal;
  line-height: 4px;
}

.searchIcon {
  margin-right: 8px;
  font-size: 30px;
  font-weight: normal;
  vertical-align: middle;
}

.latestSearches {

}

.listHeader {
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  margin-left: 15px;
  font-size: 13px;
  position: relative;
  margin-bottom: 6px;
}

.right {
  float: right;
  color: #B0B0B0;
}

.savedSearchesWrapper,
.editSavedSearchesWrapper {
  padding-top: 14px;
  width: 100%;
  height: 70px;
  align-items: center;
  // display: flex;
  // align-items: space-between;
}

.previousSearchesWrapper,
.editPreviousSearchesWrapper {
  padding-top: 10px;
  width: 100%;
  height: 60px;
  align-items: center;
}

.editSavedSearchesWrapper {
  // height: 109px;
}

.editPreviousSearchesWrapper .deleteIcon{
  line-height: 80px;
}

.previousSearcheParameters {
  width: calc(100% - 17px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.editPreviousSearchesWrapper .previousSearcheParameters,
.editSavedSearchesWrapper .previousSearcheParameters {
  width: calc(100% - 129px);
}

.small {
  font-size: 13px;
}

.newJobs {
  position: absolute;
  right: 30px;
  top: 18px;
  color: white;
  // font-weight: bold;
  font-size: 12px;
  display: block;
  height: 23px;
  width: 23px;
  // border: 1px solid #000;
  border-radius: 100px;
  text-align: center;
  line-height: 23px;
  background: tomato;
}

.bell {
  margin-right: 3px;
  color: gray;
  font-weight: bold;
}

.pencil {
  // position: absolute;
  // right: 10px;
  // color: gray;
  // font-size: 15px;
  // top: -5px;


  position: absolute;
  right: 8px;
  color: #333333;
  text-transform: none;
  // font-weight: bold;
  // font-size: 15px;
  // top: -5px;
}

.deleteSaved,
.savePrevious {
  background: #cc0022;
  color: white;
  display: block;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  text-align: center;
  padding-top: 20px;
}

.savedSearchesWrapper .deleteSaved,
.editSavedSearchesWrapper .deleteSaved {
  padding-top: 25px;
}

.updateNotify,
.savePrevious {
  background: #d9edf7;
  display: block;
  width: 70px;
  position: absolute;
  top: 0;
  color: #333;
  right: 70px;
  height: 100%;
  text-align: center;
  padding-top: 15px;
}

.savePrevious {
  padding-top: 20px;
  right: 70px;
}

.deleteIcon {
  color: white;
  font-size: 25px;
  line-height: 109px;
  font-weight: bold;
}

.savePreviousIcon {
  // color: white;
  // font-size: 12px;
  // font-weight: bold;
  // line-height: 80px;
}

.notifyRow {
  position: relative;
}

.rowOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  // border: 1px solid #000;
}

.notifyText {
  vertical-align: super;
  margin-right: 10px;
  font-weight: normal;
}

.previousSearcheTime {
  position: absolute;
  right: 25px;
  top: 30px;
  color: gray;
  font-size: 13px;
}

.historyIcon,
.chevronIcon {
  position: absolute;
  right: 15px;
  top: 25px;
  font-size: 15px;
  color: #6f7578;
  font-weight: bold;
}

.previousSearchesWrapper .chevronIcon {
  top: 22px;
}

.welcome,
.firstWelcome {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: normal;
}

.firstWelcome {
  margin-top: 100px;
  margin-bottom: 60px;
  font-size: 24px;
}

.welcome p,
.firstWelcome p {
  margin-bottom: 0;
  font-weight: 300;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 999;
  // pointer-events: none;
}

.saveSearchPopup {
  position: fixed;
  top: 30%;
  width: 80%;
  left: 10%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 45px;
  // border: 2px solid red;
  background: rgba(255,255,255,0.95);
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.popupText {
  padding: 0 15px;
}

.leftConfirmButton,
.rightConfirmButton {
  width: 50%;
  border-top: 1px solid lightgray;
  display: inline-block;
  height: 40px;
  line-height: 35px;
  position: absolute;
  bottom: 0;
}

.leftConfirmButton {
  border-bottom-left-radius: 5px;
  left: 0;
}

.rightConfirmButton {
  border-bottom-right-radius: 5px;
  right: 0;
  border-left: 1px solid lightgray;
}

.leftAlign {
  width: 100%;
}

.leftAlign span {
  text-align: left;
}

.homeIcon {
  color: white;
  margin-right: 8px;
  padding: 0;
}

.occupations {
  color: #06769f;
  // font-weight: bold;
}

.savedSearchesWrapper .occupations,
.editSavedSearchesWrapper .occupations {
  font-size: 18px;
  font-weight: 600;
}
.previousSearchesWrapper .occupations,
.editPreviousSearchesWrapper .occupations {
  font-size: 17px;
  font-weight: normal;
}

.noSearches {
  color: #949494;
}

:global(.glyphicon-remove) {
  cursor: pointer;
  color: #8E8E93;
  margin-left: 5px;
  top: 2px;
}

.pencilIcon {
  color: #32749d;
  font-size: 17px;
  // font-weight: bold;
}

:global(input.form-control) {
  height: 40px;
}