.linkWrapper {
  width: 100%;
  // height: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  // display: flex;
  // align-items: space-between;
}

.efterfragat {
  margin-left: 0px;
}

.competenceOK {
  position: absolute;
  right: 0px;
  top: 10px;
  color: green;
}

.category {
  font-size: 12px;
}