
.tipsWrapper {
  text-align: center;
  display: block;
  margin: 0 auto 20px;
  // width: 90%;
}

.tipsWrapper h2 {
  // color: #82BBFB;
  font-size: 36px;
  color: #478500;
  display: inline-block;
  font-weight: 300;
  vertical-align: top;
}

.listHeader {
  // width: 200px;
  display: block;
  margin: auto;
  // font-weight: bold;
  margin: 0 0 5px 10px;
  text-align: left;
  text-transform: uppercase;
}

.dynamicText {
  font-weight: bold;
}

.relatedTag {
  // background: #E3E3E3;
  display: inline-block;
  border: 1px solid #666666;
  border-radius: 5px;
  margin: 8px 8px 0 0;
  padding: 8px 8px;
}

.relatedTag:last-child {
  margin-right: 0;
}

:global(.activeAdditionalTag) {
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0);
}

.tagWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 13px;

  // background: #CAE3EC;
  padding: 8px 0 0;
  position: relative;

  // max-height: 105px;
  // overflow: hidden;

  // padding: 2px 10px;
  // height: 60px;
  // overflow: hidden;
  // white-space: nowrap;
  // overflow-x: scroll;
  // overflow-y: hidden;
}

.tipsImg {
  width: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.amount {
  margin: 5px 10px 5px;
  display: block;
  // font-size: 13px;
}

.swipeDots {
  margin: 15px auto 0;
}

.swipeDot {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 2px solid #333;
  display: inline-block;
  // background: gray;
}

.swipeDotActive {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 2px solid #333;
  background: white;
  display: inline-block;
  margin-right: 5px;
}

.noTipsToShow {
  text-align: center;
  width: 280px;
  margin: auto;
}

.goToFilter {
  background: #06769F;
  // background: #478500;
  margin: 30px auto;
  display: block;
  color: white;
  border: none;
  // width: 94%;
  width: 100%;
  // left: 10%;
  // position: fixed;
  // bottom: 0px;
  display: block;
  // z-index: 999;
  height: 57px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: normal;
}

.searchIcon {
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}