
.contentWrapper {
  overflow: hidden;
  // margin-bottom: 70px;
}

.header {
  padding: 2px 10px;
  background: #F2F4F5;
  border-bottom: 1px solid #d2dbe0;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.header h1 {
  font-size: 17px;
  text-align: center;
  font-weight: normal;
  letter-spacing: -0.4px;
}

.cancelChevron {
  position: absolute;
  left: 12px;
  top: -2px;
  padding-top: 2px;
  height: 50px;
  line-height: 48px;
  font-weight: bold;
  font-size: 22px;
}

.back {
  position: absolute;
  left: 0px;
  padding-left: 12px;
  top: -2px;
  width: 50px;
  padding-top: 2px;
  height: 47px;
  line-height: 55px;
  cursor: pointer;
}

.done {
  position: absolute;
  right: 0px;
  padding-right: 12px;
  top: -2px;
  width: 104px;
  padding-top: 2px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  text-align: right;
  font-size: 17px;
}

.advertWrapper {
  padding-top: 10px;
  display: block;
  width: calc(100% - 30px);
  margin: auto;
  padding-top: 60px;
  position: relative;
}

.advertWrapper h3 {
  margin-top: 10px;
}

.companyName {
  width: calc(100% - 35px);
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}

.adTitle {
  font-size: 36px;
  line-height: 38px;
  font-weight: 200;
  margin-bottom: 15px;
}

.adInfo {
  background: white;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 15px;
  font-size: 13px;
  border-bottom: 2px solid #fbc6aa;
}

.adInfo b {
  text-transform: uppercase;
}

.adInfo p:last-child {
  margin-bottom: 0;
}

.adInfo .adOccupation {
  text-transform: uppercase;
}

.matchCriteria {
  width: calc(100% + 30px);
  margin-left: -15px;
  padding-left: 15px;
  font-size: 24px;
  line-height: 86px;
  background: white;
  font-weight: 200;
  height: 86px;
  border-bottom: 2px solid #fbc6aa;
}

.competenceHeader {
  display: block;
  width: calc(100% + 10px);
  margin-left: -5px;
  margin-bottom: 10px;
}

.competenceHeader hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 5px 0;
}

.competenceHeader span {
  margin-left: 5px;
}

.infoIcon {
  float: right;
  // border: 2px solid gray;
  // background: #B5D8E9;
  // background: white;
  // background: gray;
  // border-radius: 20px;
  // height: 20px;
  // width: 20px;
  line-height: 18px;
  font-size: 17px;
  text-align: center;
  color: #b0b0b0;
  // color: white;
}

.competenceWrapper {
  // background: #F2F2F2;
  background: white;
  height: auto;
  width: calc(100% + 30px);
  // margin-bottom: 10px;
  margin-left: -15px;
  padding: 15px;
  position: relative;
  border-bottom: 2px solid #fbc6aa;
}

.competenceWrapper b {
  margin-bottom: 5px;
  display: inline-block;
}

.competence,
.competenceMatch {
  display: inline-block;
  width: auto;
  margin: 2px;
  border: 1px solid lightgray;
  padding: 2px 5px;
  border-radius: 2px;
  // background: #e0ebd4;
  background: #f5f5f5;
  font-size: 12px;
  // height: 28px;
  line-height: 23px;
  transition: all 0.2s;
}

.competenceMatch {
  background: #B5D8E9 !important;
  border: 1px solid rgba(0,0,0,0) !important;
}

.okIcon {
  color: #f27b24;
  margin-right: 5px;
  margin-left: 15px;
}

.dotIcon {
  margin-right: 5px;
  margin-left: 15px;
}

.plusIcon {
  margin-right: 5px;
  margin-left: 0;
}

.wrapperDiv {
  display: inline-block;
  width: auto;
}

.loading {
  margin-top: 100px;
}

.advertTextWrapper {
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 15px;
  position: relative;
  // margin-bottom: 20px;
  background: white;
}

:global(.annons-text) {
  height: 250px;
  overflow: hidden;
  white-space: pre-wrap;
}

:global(.annons-text.unfolded) {
  height: auto !important;
  overflow: none !important;
}

:global(.annons-text.folded::before) {
  background-image: linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );
      background-image: -moz-linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );
      background-image: -ms-linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );
      background-image: -o-linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );
      background-image: -webkit-linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );

  content: "\00a0";
  height: 250px;
  position: absolute;
  width: 100%;
}

.showmore {
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  bottom: -10px;
  font-size: 12px;
  color: #568eb1;
  font-weight: bold;
  text-decoration: underline;
}

:global(.hidden) {
  display: none;
}

:global(.glyphicon-plus) {
  cursor: pointer;
  color: #8E8E93;
  // top: 2px;
}

.map {
  pointer-events: none;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 0 15px;
  background: white;
}

.mapTitle {
  font-weight: 200;
  font-size: 18px;
  border-bottom: 1px dashed #c4c9cc;
  margin-bottom: 5px;
}
.mapLocation {
  color: #6f7578;
  font-size: 13px;
}

.mapAddress {
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 0 15px;
  line-height: 40px;
  background: #f2f4f5;
  display: block;
  height: 40px;
  font-size: 13px;
}

.mapAddress b {
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 30px;
}

.adFooter {
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 20px 15px;
  background: white;
  height: 190px;
  text-align: center;
  position: relative;
}

.applyDescription,
.applyDate {
  font-size: 24px;
  font-weight: 200;
}
.applyDescription {
  margin-bottom: 0;
}
.applyDate {
  color: #397502;
  font-weight: 500;
}
.adId {
  text-transform: uppercase;
  font-size: 13px;
  color: #6f7578;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.applyButton {
  // background: #06769F;
  background: #478500;
  margin: 15px auto;
  display: block;
  color: white;
  border: none;
  width: 80%;
  left: 10%;
  position: fixed;
  bottom: 0;
  display: block;
  z-index: 999;
  height: 57px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: normal;
}

.gradientImg {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 55px;
}

.applyButton[disabled],
.applyButton[disabled]:hover {
  background: gray !important;
  opacity: 1 !important;
}

.saveAdvert,
.savedAdvert {
  position: absolute;
  right: -10px;
  top: 60px;
  padding-top: 2px;
  height: 50px;
  line-height: 50px;
  font-size: 35px;
}

.saveAdvert .saveText,
.savedAdvert .saveText {
  font-size: 14px;
  vertical-align: top;
  margin-right: 5px;
  // color: white;
}

.saveAdvert .saveIcon {
  // color: white;
}
.savedAdvert .saveIcon {
  color: gold;
}

.starAnimate {}
.starAnimateBouce div {
  animation: Star-keyframes--bounce .4s ease-in-out
}
@keyframes Star-keyframes--bounce{
  0% { font-size: 35px }
  50% { font-size: 45px }
  100% { font-size: 35px }
}

.criteriaHeading {
  font-weight: 200;
  font-size: 18px;
  display: block !important;
  border-bottom: 1px dashed #f27b24;
  padding-bottom: 3px;
}

.competence + .criteriaHeading,
.competenceMatch + .criteriaHeading,
.comp + .criteriaHeading {
  margin-top: 20px;
}

.comp {
  display: block;
  line-height: 26px;
}

.criteriaSubHeading {
  display: block !important;
  // margin-left: 5px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.competence + .criteriaSubHeading,
.competenceMatch + .criteriaSubHeading {
  margin-top: 5px;
}

.small {
  font-size: 12px;
}

.niva {
  text-transform: capitalize;
}

.criteriaTabs {
  padding: 0;
  margin-top: -30px;
  margin-bottom: 5px;
  margin-left: -12px;
  width: calc(100% + 27px);
}

.criteriaTab {
  // border: 1px solid #000;
  width: 33%;
  list-style: none;
  display: inline-block;
  text-align: center;
  background: #F2F2F2;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
}

.criteriaTab:nth-child(1) {
  // font-weight: bold;
  border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
  border-right: 2px solid white;
}
.criteriaTab:nth-child(2) {
  // border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.criteriaTab:nth-child(3) {
  // border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid white;
}

.reqDescription {
  display: block;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 15px;
  margin-left: -15px;
  font-style: italic;
}

:global(.glyphicon-thumbs-up) {
  color: green;
}
:global(.glyphicon-warning-sign) {
  color: red;
}
