
.contentWrapper {
  margin-bottom: 70px;
}

.header {
  padding: 2px 10px;
  background: #345468;
  color: white;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.header h1 {
  font-size: 20px;
  text-align: center;
}

.back {
  position: absolute;
  left: 0px;
  padding-left: 12px;
  top: -2px;
  width: 50px;
  padding-top: 2px;
  height: 47px;
  line-height: 55px;
  cursor: pointer;
}

.advertWrapper {
  padding-top: 10px;
  display: block;
  width: calc(100% - 40px);
  margin: auto;
  padding-top: 75px;
  position: relative;
}

.advertWrapper h3 {
  margin-top: 10px;
}

.competenceHeader {
  display: block;
  margin-left: 5px;
  margin-top: 10px;
}

.competenceWrapper {
  background: #F2F2F2;
  height: auto;
  width: calc(100% + 40px);
  // margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -20px;
  border-radius: 2px;
  padding: 10px 12px;
  position: relative;
}

.competenceWrapper b {
  margin-bottom: 5px;
  display: inline-block;
}

.competence,
.competenceMatch {
  display: inline-block;
  width: auto;
  margin: 2px;
  border: 1px solid lightgray;
  padding: 2px 5px;
  border-radius: 2px;
  // background: #e0ebd4;
  background: #f5f5f5;
  font-size: 12px;
  // height: 28px;
  line-height: 23px;
}

.competenceMatch {
  background: #B5D8E9 !important;
}

.okIcon {
  color: green;
  margin-right: 5px;
  margin-left: 0;
}

.plusIcon {
  margin-right: 5px;
  margin-left: 0;
}

.wrapperDiv {
  display: inline-block;
  width: auto;
}

.loading {
  margin-top: 100px;
}

.advertTextWrapper {
  position: relative;
  margin-bottom: 20px;
}

:global(.annons-text) {
  height: 250px;
  overflow: hidden;
  white-space: pre-wrap;
}

:global(.annons-text.unfolded) {
  height: auto !important;
  overflow: none !important;
}

:global(.annons-text.folded::before) {
  background-image: linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );
      background-image: -moz-linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );
      background-image: -ms-linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );
      background-image: -o-linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );
      background-image: -webkit-linear-gradient(
          rgba( 255, 255, 255, 0 ) 60%, rgba( 255, 255, 255, 1 ) 100% );

  content: "\00a0";
  height: 250px;
  position: absolute;
  width: 100%;
}

.showmore {
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  bottom: -10px;
  font-size: 12px;
  color: #568eb1;
  font-weight: bold;
  text-decoration: underline;
}

:global(.hidden) {
  display: none;
}

:global(.glyphicon-plus) {
  cursor: pointer;
  color: #8E8E93;
  // top: 2px;
}

.map {
  pointer-events: none;
}

.applyButton {
  // background: #06769F;
  background: #5E8404;
  margin: 20px auto 10px;
  display: block;
  color: white;
  border: none;
  width: 100%;
  left: 3%;
  // position: fixed;
  bottom: 50px;
  display: block;
  z-index: 999;
  height: 40px;
}

.applyButton[disabled],
.applyButton[disabled]:hover {
  background: gray !important;
  opacity: 1 !important;
}

.saveAdvert,
.savedAdvert {
  position: absolute;
  right: 12px;
  top: 0px;
  padding-top: 2px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: gold;
}

.saveAdvert {
  color: white;
}
.savedAdvert {
  color: gold;
}

.criteriaHeading {
  display: block !important;
}

.competence + .criteriaHeading {
  margin-top: 15px;
}

.criteriaSubHeading {
  display: block !important;
  margin-left: 5px;
}

.competence + .criteriaSubHeading {
  margin-top: 5px;
}

.small {
  font-size: 12px;
}

.niva {
  text-transform: capitalize;
}

.criteriaTabs {
  padding: 0;
  margin-top: -30px;
  margin-bottom: 5px;
  margin-left: -12px;
  width: calc(100% + 27px);
}

.criteriaTab {
  // border: 1px solid #000;
  width: 33%;
  list-style: none;
  display: inline-block;
  text-align: center;
  background: #F2F2F2;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
}

.criteriaTab:nth-child(1) {
  // font-weight: bold;
  border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
  border-right: 2px solid white;
}
.criteriaTab:nth-child(2) {
  // border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.criteriaTab:nth-child(3) {
  // border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid white;
}

.reqDescription {
  display: block;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 15px;
  margin-left: -15px;
  font-style: italic;
}

:global(.glyphicon-thumbs-up) {
  color: green;
}
:global(.glyphicon-warning-sign) {
  color: red;
}
